#notification {
	font-family: 'Montserrat', sans-serif;
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	
	background-color: rgba(0,0,0,.5);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#notification .notification-wrapper {
	background-image: linear-gradient(to bottom, #0F66CA 90px, white 0%);
	overflow: hidden;
	border-radius: 7px;
	box-shadow: 0 0 10px -6px rgba(0,0,0,.3);
	padding: 10px 15px 15px 15px;
	width: 300px;
	letter-spacing: .01px;
}

#notification .bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-weight: bold;
	margin-bottom: 15px;
}

#notification .bar .hold {
	width: 24px;
	height: 10px;
}

#notification .bar .text {
	display: flex;
	justify-content: center;
	align-items: center;
}

#notification .bar .text span:nth-child(1) {
	margin-right: 3px;
}

#notification .bar .close-button {
	position: relative;
	cursor: pointer;
	color: white;
	
	right: 0;
    top: 0;
    font-size: inherit;
    line-height: initial;
	
	display: flex;
	align-items: center;
	flex-grow: 0;
    	width: auto;
}

#notification .bar .material-symbols-rounded {
	font-size: 20px;
}

#notification .bar .close-button .material-symbols-rounded {
	font-weight: bold;
}

#notification .notification {
	background-color: white;
	padding: 15px;
	border-radius: 7px;
	font-size: 13px;
	font-weight: 500;
	overflow: hidden;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.37);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.37);
}

#notification .notification h1,
#notification .notification h2,
#notification .notification h3,
#notification .notification h4,
#notification .notification h5,
#notification .notification h6 {
	font-weight: bold;
	font-size: 15px !important;
}

#notification .notification p {
	line-height: 1.4;
}

#notification .notification strong {
	font-weight: bold;
}

#notification .notification p:last-child {
	margin-bottom: 0 !important;
}

/* ================= */
/*  Modal > Confirm  */
/* ================= */

#notification .button-confirm {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

#notification .button-confirm button {
	display: block;
	width: 45%;
	height: 35px;
	border: 2.5px solid white;
	color: white;
	background: deepskyblue;
	font-weight: bold;
	position: relative;
	border-radius: 7px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
}

#notification .button-confirm button::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}

#notification .button-confirm #true::after {
	content: "Yes";
}

#notification .button-confirm #false::after {
	content: "No";
}
